.comment_input {
    margin: 1rem 0rem;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    display: flex;
    width: 400px;
    overflow: hidden;
    background-color: var(--pure);
    justify-content: center;
    align-items: center;
}
.comment_input input {
    outline: none;
    margin-right: 1rem;
    border: none;
    width: 80%;
    height: 50px;
    background: none;
}
.comment_input span {
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.item {
    background: var(--pure);
    border-radius: 7px;
    padding: 1rem;
    margin-bottom: 5px;
}
.info {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.info p {
    font-size: 14px;
}
.body p {
    padding: 0.5rem 2rem;
    text-transform: capitalize;
}
.actions ul {
    display: flex;
    gap: 1rem;
}
.actions ul li {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    color: var(--link);
}
.actions ul li:hover {
    color: var(--dark);
}




