:root {
  --pure: white;
  --link: #0099ff;
  --bg: #fff5f5;
  --primary: #2f323a;
  --secondary: #5500ff;
  --links: #979797;
  --dark: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pure);
  position: relative;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--links);
  transition: color 0.3s;
}
a:hover {
  color: var(--dark);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}


.btn {
  cursor: pointer;
  padding: 7px 2rem;
  font-family: poppins;
  border-radius: 7px;
  border: none ;
}

.btn_primary {
  color: #ffffff;
  background: var(--primary);
  
}

.loading {
  background: url('../../public//utils/loading.svg'), var(--bg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-position: center;
}