
.home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--primary);
}
.wrapper p span {
    text-decoration: underline;
}
.wrapper h1 {
    color: var(--primary);
}

.hero_text {
    font-size: 11rem;
    margin-left: 5rem;
    padding: 0;
}
.hero_text span {
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--primary);
}

@media only screen and (max-width: 600px) {
    .hero_text {
        font-size: 22vw;
        margin-left: 0rem;
    }
}