.recent_blogs {
    background: var(--bg);
    padding: 1rem;
    margin-top: 1rem;
}

.recent_blogs h1 {
    font-weight: 400;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 1rem;
    margin-bottom: 5rem;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 800px;
}

.blog h3 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 1rem;
}

.thumbnail {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    min-height: 240px;
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.author h4 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 12px;
}

.author p {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 11px;
    color: gray;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.avatar img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 3px 3px 15px #d0d0d0;
}


.blog_info p {
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 300;
}



@media only screen and (max-width: 600px) {
    .item {
        grid-template-columns: 1fr;
    }
}